* {
    font-family: 'Guttman Haim';
    color: #1fc134;
    direction: rtl;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-color: black;
    height: 97vh;

}

#wrapper {
    height: 100%;
    margin: 0 auto;
    border: 1px solid #1fc134;
    position: relative;
    width: 99%;
    box-shadow: 0 0 9px 2px #1fc134;
    background-image: url('../../images/mission_imposible.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-x: 52%;
    background-position-y: 110%;
}

#header{
   margin-top: -2%;
   margin-bottom: 6%;
   font-size: 38px;
}

#content {
    margin: 0 auto;
    font-size: 30px;
    width: 80%;
    margin-top: -5%;
}

#strikes-container, #points-container, #round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
}

#mission-detail {
    text-align: right;
    width: 97%;
    margin-bottom: 10%;
    font-size: 25px;
}

#note{
    color: white;
}

