* {
    font-family: 'Guttman Haim';
    color: #1fc134;
    direction: rtl;
}

body {
    background-color: black;
    height: 97vh;
}


#wrapper {
    height: 100%;
    margin: 0 auto;
    border: 1px solid #1fc134;
    box-shadow: 0 0 9px 2px #1fc134;
    background-image: url('../../images/mission_imposible.jpg');
    background-size: 600px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -15%;
}

#content{
    margin-top: 10%;
    font-size: 30px;
    width: 70%;
    margin: 0 auto;
    margin-top: 15%;
}

#loading {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    width: 150px;
    height: 150px;
    z-index: 9999;
    background-repeat: no-repeat;
}

#loading img {
    width: 30%;
    position: absolute;
    bottom: 0;
    left: 20%;
}
#explanation{
    font-size: 24px;
}
